# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{py,js,ts,tsx,jsx,sh,bash}]
indent_style = space
indent_size = 4

# Config files
[*.{yml,yaml,json,toml,cfg,conf}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Batch files
[*.{bat,cmd}]
end_of_line = crlf

# Makefiles
[Makefile]
indent_style = tab
